
<div class="outer">
    <div class="middle">
        <div class="container">
            <div class="form">
                <h4>Registration</h4>
                <div class="login-form-input">
                    <input type="text" placeholder="Email Address" id="email">
                </div>
                <div class="login-form-input">
                    <input type="text" placeholder="Password" id="password">
                </div>
                <div class="login-form-input">
                    <input type="text" placeholder="Confirm Password" id="confirmpassword">
                </div>
                <div class="login-form-input">
                    <span id="error"></span>
                    <input type="button" (click)="this.tryRegister()" value="Register"/>
                    <a id="loginLink" href="/login">Already a member? login here.</a>
                </div>
            </div>
        </div>
    </div>
</div>